.appointment-reminder-item {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  border: solid #bcdbff;
  border-width: 1px 1px 1px 6px;
  border-radius: 12px;
  padding: 4px;
  margin-bottom: 16px;
}
.appointment-text {
  padding: 0px 16px;
}
.appointment-heading,
.appointment-time {
  margin: 3px 0px;
  font-size: 14px;
  font-weight: 500;
  color: #4a95eb;
}
.datetime {
  font-weight: normal;
  font-style: italic;
}

.appointment-time {
  font-weight: normal;
  font-size: 13px;
  color: #4a95eb;
}

.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}
